/* COLOR */

.blue {
    color: #212e74
}

.red {
    color: #c81f24
}


/* BACKGROUND COLOR */

.bg-red {
    background-color: #e5503c;
}

.bg-green {
    background-color: #28ad5e;
}

.bg-grey {
    background-color: #f9f9f9;
}

.bg-grey-desc {
    background-color: #f9f9f9;
    padding-bottom: 2%;
}

.bg-dark-blue {
    background-color: #212e74;
}

.bg-blue {
    background-color: #5160e8;
}

.bg-red-flashsale {
    background-color: #d42b2e;
}


/* TEXT */

.fs-8 {
    font-size: .8rem;
}

.fw-600 {
    font-weight: 600;
}

.text-upper {
    text-transform: uppercase;
}

#promotion {
    padding: 10px 0;
}

#highlight {
    padding: 50px 0;
}

#categories {
    padding-bottom: 50px;
}

#categories .owl-dots {
    position: initial !important;
}

.dual-collapse3 ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.dual-collapse3 ul li a {
    color: white;
    transition: .3s all;
}

.dual-collapse3 ul li a.active,
.dual-collapse3 ul li a:hover {
    color: white !important;
    font-weight: 600;
}

.owl-carousel {
    position: relative;
}

.best-seller .owl-dots,
.new-items .owl-dots,
.flash-sale-items .owl-dots {
    bottom: inherit !important;
}

.owl-dots {
    position: absolute;
    bottom: 10px;
    left: 25%;
    right: 25%;
}

@media screen and (max-width: 768px) {
    .owl-dots {
        position: initial;
    }
}


/* PRODUCT CATEGORY */

.filter-product .title {
    text-transform: uppercase;
    font-weight: 600;
}

.filter-product .tags .content a {
    border: solid 1px lightgrey;
    padding: 0 10px;
    background-color: white;
    color: grey;
    transition: .3s all;
    margin-bottom: .5rem;
    height: 30px;
    display: inline-flex;
    border-radius: 3px;
}

.filter-product .tags .content a:hover {
    text-decoration: none;
    background-color: grey;
    color: white;
}


/* Price range */

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #212e74;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #212e74;
    cursor: pointer;
}

.product-box img {
    border: solid 1px lightgray;
    /* padding: 50px 10px 20px; */
    height: 230px;
    object-fit: contain;
}


/* .product-box .book-title-box {
    height: 30px;
} */

.product-badge {
    position: absolute;
    margin: 10px;
    font-size: .8rem;
}


/* PRODUCT DETAIL */

#product-detail .description .title {
    padding-bottom: 5px;
    border-bottom: solid .2rem #212e74;
    width: max-content;
    font-weight: 400 !important;
}


/* SHOPPING CART */

.cart-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.cart-table td,
.cart-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.cart-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.cart-table tr:hover {
    background-color: #ddd;
}

.cart-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(236, 236, 236);
}


/* MEMBER PAGE  */


/* ===Sidebar===  */

.profile-menu {
    padding: 20px 0;
    border: solid thin;
    border-radius: 5px;
    border-color: #0012bb;
}

.profile {
    margin-bottom: 1rem
}

.profile>img {
    display: block;
    margin: 0 auto;
}

.profile-name {
    margin-top: 10px;
    text-align: center;
}

.profile-name h5 {
    font-size: 1.1rem;
    font-weight: 500;
}

.sidebar-div a {
    display: block;
    font-size: 12pt;
    color: #000000;
}

.sidebar-div a:hover {
    color: #0012bb;
}


/* .nav-link.active {
	color: #0012bb;
	background: #e1f1fd;
	border: 1px solid #0012bb;
} */

.sidebar-div i {
    width: 40px;
    text-align: center;
    font-size: 1.3rem;
    color: #0012bb;
}

.profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #0012bb;
    margin: auto;
}

.profile-menu {
    border-width: 2px;
    padding: 15px
}

.sidebar-div a {
    font-size: 12pt;
}


/* .sidebar-div .nav-item { */


/* border-top: 1px solid #f9f9f9; */


/* } */

.nav-break {
    font-size: 8pt;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    background: #f9f9f9;
    padding: 5px;
    padding-left: 15px;
    color: #000000;
}


/* Member content  */

.page-member-title {
    color: #0012bb;
    margin-bottom: 20px;
}


/* ===Dashboard===  */

.dashboard-item {
    /* box-shadow: 2px 2px 4px rgba(0,0,0,0.3); */
    padding: 15px 15px 10px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
}

.dashboard-item span {
    color: #0012bb;
    font-weight: bold
}

.status {
    font-size: 10pt;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.status-success {
    border: 1px solid #4CAF50;
    background-color: #eff8ef;
    color: #4CAF50;
}

.status-info {
    border: 1px solid #2196F3;
    background-color: #dbeefd;
    color: #2196F3;
}

.status-warning {
    border: 1px solid #ff9800;
    background-color: #ffefd8;
    color: #ff9800;
}

.status-danger {
    border: 1px solid #f44336;
    background-color: #fde0dd;
    color: #f44336;
}

.status-other {
    background-color: #e7e7e7;
    color: black;
    border: 1px solid black;
}

.color-success {
    color: #4CAF50;
}

.color-info {
    color: #2196F3;
}

.color-warning {
    color: #ff9800;
}

.color-danger {
    color: #f44336;
}

.color-other {
    color: black;
}


/* The radio-custom container */

.radio-custom {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.radio-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.radio-custom:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.radio-custom input:checked~.checkmark {
    background-color: #0012bb;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.radio-custom input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.radio-custom .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.button-favorite {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    color: #ffffff;
    transition: .3s all;
    background: #212e74;
    width: 25px;
    height: 25px;
}

.button-favorite.active {
    color: #f9df1f;
}

.button-favorite:hover {
    color: #f9df1f;
}

#categories .owl-carousel .owl-item img,
.books .owl-carousel .owl-item img {
    /* height: 170px; */
    object-fit: contain;
}

.delete-cart {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.img-cart {
    width: 50px;
    height: auto;
}

.table-container {
    overflow: auto;
}

.reviewstar {
    color: #f0ad4e !important;
}

.btn-review {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}